@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

header {
  background-color: #000;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
  font: normal 16px sans-serif;
  margin-top: -30px;
  padding: 50px;
}

.header-distributed p.header-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
  padding: 0;
  word-spacing: 15px;
}

.header-distributed p.header-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.header-distributed .header-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.header-distributed .header-right a{
	display: inline-block;


	font-size: 20px;
	color: #ffffff;
	text-align: center;
	margin-left: 3px;
}

html, body {
  margin: 0;
  padding: 0;
}

/* Calendar */
header {
  color: #fff;
  /* margin-top: -40%; */
}

main {
  background-color: #faebd7;
  -ms-flex-preferred-size: 980px;
      flex-basis: 980px;
}

.calendar {
  display: fixed;
  width: 100%;
}

.calendar__day__header,
.calendar__day__cell {
  border: 2px solid #000;
  text-align: center;
  width: 100% / 7;
  vertical-align: middle;
}
.calendar__day__header:first-child,
.calendar__day__cell:first-child {
  border-left: none;
}
.calendar__day__header:last-child,
.calendar__day__cell:last-child {
  border-right: none;
}

.calendar__day__header,
.calendar__day__cell {
  padding: 1.3rem 0 1.5rem;
}

.calendar__day__header {
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.calendar__day__cell {
  font-size: 4rem;
  position: relative;
}

tr:nth-child(odd) > .calendar__day__cell:nth-child(odd) {
  color: #ff0000;
}

tr:nth-child(even) > .calendar__day__cell:nth-child(even) {
  color: #ff0000;
}

.calendar__day__cell[data-moon-phase] {
  background-color: #ff0000;
  color: #000;
}
.calendar__day__cell[data-moon-phase]:after {
  content: attr(data-moon-phase);
  color: #000;
  display: block;
  font-weight: 400;
  font-size: .1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  text-transform: uppercase;
}

.calendar__day__cell[data-bank-holiday] {
  background-color:#000;
  border-color: #000;
}

.calendar__day__cell[data-bank-holiday]:after {
  content: attr(data-bank-holiday);
  color: #ff0000;
  display: block;
  font-size: .1rem;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  text-transform: uppercase;
}

.month {
  text-align: center;
  font-size: 4.5em;
}

/* Footer */
.footer-distributed{
  background-color: #000;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 45px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

@media (max-width: 600px) {

  .calendar {
    width: 100%
  }

  header {
    background-color: #000;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    margin-top: -30px;
    padding: 20px;
  }

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}

/* Archives Page */

.archives {
  color: #fff; 
  text-align: center
}

.mySlides {
  display: none
}

.w3-badge {
  height: 25px;
  width: 25px;
  padding: 0
}