@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

header {
  background-color: #000;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
  font: normal 16px sans-serif;
  margin-top: -30px;
  padding: 30px;

}

html, body {
  margin: 0;
  padding: 0;
}


/* Calendar */
header {
  color: #fff;
  /* margin-top: -40%; */
}

main {
  background-color: #F6E9DC;
  -ms-flex-preferred-size: 980px;
      flex-basis: 980px;
}

.calendar {
  table-display: fixed;
  width: 100%;
}

.calendar__day__header,
.calendar__day__cell {
  border: 2px solid #e66053;
  text-align: center;
  width: 100% / 7;
  vertical-align: middle;
}
.calendar__day__header:first-child,
.calendar__day__cell:first-child {
  border-left: none;
}
.calendar__day__header:last-child,
.calendar__day__cell:last-child {
  border-right: none;
}

.calendar__day__header,
.calendar__day__cell {
  padding: .75rem 0 1.5rem;
}

.calendar__banner--month {
  text-align: center;
  padding: .75rem;
}
.calendar__banner--month h1 {
  background-color: #4E4F4A;
  color: #F6E9DC;
  display: inline-block;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  padding: .5rem 2rem;
  text-transform: uppercase;
}

.calendar__day__header {
  font-size: 1rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.calendar__day__cell {
  font-size: 4rem;
  position: relative;
}

tr:nth-child(odd) > .calendar__day__cell:nth-child(odd) {
  color: #e66053;
}

tr:nth-child(even) > .calendar__day__cell:nth-child(even) {
  color: #e66053;
}

.calendar__day__cell[data-moon-phase] {
  background-color: #e66053;
  color: #4E4F4A;
}
.calendar__day__cell[data-moon-phase]:after {
  content: attr(data-moon-phase);
  color: #F6E9DC;
  display: block;
  font-weight: 400;
  font-size: .75rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1rem;
  text-transform: uppercase;
}

.calendar__day__cell[data-bank-holiday] {
  background-color: #4E4F4A;
  border-color: #4E4F4A;
  color: #F6E9DC;
}
.calendar__day__cell[data-bank-holiday]:after {
  content: attr(data-bank-holiday);
  color: #F6E9DC;
  display: block;
  font-size: .75rem;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1rem;
  text-transform: uppercase;
}

/* Footer */
.footer-distributed{
  background-color: #000;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 45px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}

